class pulse_driver extends uvm_driver#(pulse_item);;
	`uvm_component_utils(pulse_driver)

	virtual pulse_if vif;

	function new(string name="pulse_driver",uvm_component parent);
		super.new(name,parent);
	endfunction

	function void build_phase(uvm_phase phase);
		super.build_phase(phase);
		if(!uvm_config_db#(virtual pulse_if)::get(this,"","vif",vif))
			`uvm_fatal("DRV","Interface not found");
	endfunction

	task run_phase(uvm_phase phase);
		pulse_item req;
		forever begin
			seq_item_port.get_next_item(req);
			@(posedge vif.clk);
			vif.signal_in <= req.signal_in;
			
			`uvm_info("DRIVER","Driver transaction:",UVM_MEDIUM)
			req.print();
			seq_item_port.item_done();
		end
	endtask
endclass
